.touroku
  .touroku__header
    メルマガのご登録
    %br
    ありがとうございました！
  .touroku__top
    .touroku__one
      ブログ
      %br
      %br
      SNS
      %br
      %br
      も是非
      %br
      %br
      ご覧ください
      %br
      %br
      %br
      %br
      =link_to root_path do
        トップページ
    .touroku__two
      =link_to "https://plaza.rakuten.co.jp/dnoheya/",target:"_blank" do
        楽天ブログ
      %br
      %br
      = link_to "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank",class: "contents__footer--btntwo" do
        = icon('fab', 'facebook-square',  class: "contents__footer--box--two--icon")
        %span Facebook
      %br
      %br
      = link_to "https://twitter.com/D_noheya", target:"_blank",class: "contents__footer--box--four" do
        = icon('fab', 'twitter', class: "contents__footer--box--four--icon")
        %span Twitter
      %br
      %br
      = link_to "https://www.instagram.com/",target:"_blank", class: "contents__footer--box--five" do
        = icon('fab', 'instagram', class: "contents__footer--box--five--icon")
        %span Instagram
      %br
      %br
      = link_to "#",class: "contents__footer--box--six" do
        %span メルマガバックナンバー
      %br
      %br
      %br
      %br
      = link_to "#" do
        その他アプリ
      %br
        近日公開予定