.header
  .header__top
    .header__title
      ランディングページ　（LP)
    .header__title
      =link_to "https://dnolink.herokuapp.com/messages/show" do
        プロフィール
  .header__js
    .header__js--box
      ブログ
    .header__js--box
      You Tube
    .header__js--box
      SNS
    .header__js--box
      活動内容
    .header__js--box
      =link_to "https://dnolink.herokuapp.com/" do
        TECH CAMPでの作品
    .header__js--box
      ka
    .header__js--box
      ka
.contents
  .contents__main
    .contents__main--one
      あ
    .contents__main--two
      ああ
.sabu
  .sabu__box
    .sabu__box--text
      
      .sabu__box--left
        .sabuone
          名前（姓、名）<span>　＊必須</span>
        .sabuone
          メールアドレス<span>　＊必須</span>
        .sabuone
          サイトを知ったキッカケ
        .sabuone
          気になった記事があれば教えて下さい
        .sabuone
          登録
      .sabu__box--right
        fome_with
        .sabutwo
        .sabutwo
        .sabutwo
        .sabutwo
        .sabutwo
          送信
    .sabu__box--two
      メルマガ登録



.contents__footer
  .contents__footer--box
    = link_to anchor: "topic", class: "contents__footer--box--one" do
      トップへ戻る
    = link_to "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank",class: "contents__footer--btntwo" do
      = icon('fab', 'facebook-square',  class: "contents__footer--box--two--icon")
      %span Facebook
    .contents__footer--box--three
    <a href="https://twitter.com/D_noheya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @D_noheya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    = link_to "https://twitter.com/D_noheya", target:"_blank",class: "contents__footer--box--four" do
      = icon('fab', 'twitter', class: "contents__footer--box--four--icon")
      %span Twitter
    = link_to "https://www.instagram.com/",target:"_blank", class: "contents__footer--box--five" do
      = icon('fab', 'instagram', class: "contents__footer--box--five--icon")
      %span Instagram
  .contents__footer--name
    個人アプリ制作〜 制作（たなか　しゅうた
    = link_to "https://kamogashira.com/", target:"_blank" do
      )
