.header
  .header__top
    .header__title
      ランディングページ　（LP)
    .header__title
      =link_to "https://dnolink.herokuapp.com/messages/show" do
        プロフィール
  .header__js
    .header__js--box
      ブログ
    .header__js--box
      You Tube
    .header__js--box
      SNS
    .header__js--box
      活動内容
    .header__js--box
      =link_to "https://dnolink.herokuapp.com/" do
        TECH CAMPでの作品
    .header__js--box
      このサイトの紹介
.image

.contents
  .contents__main
    .contents__main--one
      あ
    .contents__main--two
      ああ
      
.text
  .text__main
    .text__main--one
      ようこそ！
    .text__main--two
      こちらのサイトでは作品のポートフォリオの掲載
      %br
      簡単な自己紹介を掲載しております
      %br
      TECH::CAMPで学んだ技術を使って自分の事を世の中に発信していければと感じております
    .text__main--one
      エンジニアは世界を変えられる。
    .text__main--two
      エンジニアを目指すきっかけは、そう思ったのが始まり
      %br
      %br
      前職のドラッグストアーで働いている時に、楽しそうに働いている人が減ってきていると体感しました
      %br
      人手不足が加速する中で伝票が手書き処理、発注が自動化されないなどアナログな作業は減らない
      %br
      専門知識を持っているのに接客する時間がなく活かせていない
      %br
      などの問題をテクノロジーでアナログ作業を簡略化できれば
      %br
      もっと自分の能力を使った働き方が出来て、お客様にも喜んでもらえる仕事ができる！
      %br
      さらには、小売業だけでなく、サービス業で働く人のような接客業だけでなく
      %br
      %br
      全ての働く人が働きやすい世界を開発で作れる！
      %br
      %br
      自分が作れる人になるため日々勉強中

.sabu
  .sabu__box
    .sabu__box--text
      
      .sabu__box--left
        .sabuone
          名前（姓、名）<span>　＊必須</span>
        .sabuone
          メールアドレス<span>　＊必須</span>
        .sabuone
          サイトを知ったキッカケ
        .sabuone
          気になった記事があれば教えて下さい
        .sabuone
          登録
      .sabu__box--right
        = form_with url: "/", local: true, class:"form" do |f|
          .sabutwo
            = f.text_field :name,placeholder: '記入例、　田中太郎'
          .sabutwo
            = f.email_field :email,placeholder: '記入例　tanaka@.com'
          .sabutwo
            = f.text_field :name,placeholder: '40文字まで'
          .sabutwo
            = f.text_field :name,placeholder: '200文字まで'
          .sabuthree
            = f.submit '送信', class: 'submit--btn'
    .sabu__box--two
      メルマガ登録



.contents__footer
  .contents__footer--box
    = link_to anchor: "topic", class: "contents__footer--box--one" do
      トップへ戻る
    = link_to "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank",class: "contents__footer--btntwo" do
      = icon('fab', 'facebook-square',  class: "contents__footer--box--two--icon")
      %span Facebook
    .contents__footer--box--three
    <a href="https://twitter.com/D_noheya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @D_noheya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    = link_to "https://twitter.com/D_noheya", target:"_blank",class: "contents__footer--box--four" do
      = icon('fab', 'twitter', class: "contents__footer--box--four--icon")
      %span Twitter
    = link_to "https://www.instagram.com/",target:"_blank", class: "contents__footer--box--five" do
      = icon('fab', 'instagram', class: "contents__footer--box--five--icon")
      %span Instagram
  .contents__footer--name
    個人アプリ制作〜 制作（たなか　しゅうた
    = link_to "https://kamogashira.com/", target:"_blank" do
      )
