.article#topic
.header
  .header__top
    .header__title
      DのLP
    .header__title
      =link_to supplement_index_path do
        %span.important このサイトについて
  .header__js
    %ul.header-dropmenu
      %li
        %a{href: "#"} ブログ
        %ul
          %li
            %a{href: "https://plaza.rakuten.co.jp/dnoheya/",target:"_blank"} 楽天ブログ
          %li
            %a{href: "https://qiita.com/d_shuta",target:"_blank"} Qiita
          -# %li
          -#   %a{href: "#"} サブカテゴリ
      %li
        %a{href: "#"} You Tube
        %ul
          %li
            %a{href: "#"} 作品１
          %li
            %a{href: "#"} 作品２
          %li
            %a{href: "#"} 作品３
      %li
        %a{href: "#"} SNS
        %ul
          %li
            %a{href: "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank"} Facebook
          %li
            %a{href: "https://twitter.com/D_noheya", target:"_blank"} Twitter
          %li
            %a{href: "https://www.instagram.com/",target:"_blank"} Instagram
      %li
        %a{href: "#"} 活動
        %ul
          %li
            %a{href: "https://www.facebook.com/nerimaku.rinnri/",target:"_blank"} 練馬区倫理法人会
          -# %li
          -#   %a{href: "#"} サブカテゴリ
          -# %li
          -#   %a{href: "#"} サブカテゴリ
      %li
        %a{href: "#"} TECH CAMPでの作品
        %ul
          %li
            %a{href: "https://dnolink.herokuapp.com/",target:"_blank"} 個人アプリゼロ
          %li
            %a{href: "#",target:"_blank"} 個人アプリ１（当サイト）
          -# %li
          -#   %a{href: "#"} サブカテゴリ
      %li
        %a{href: "#"} お問い合わせ
        -# %ul
        -#   %li
        -#     %a{href: "#"} サブカテゴリ
        -#   %li
        -#     %a{href: "#"} サブカテゴリ
        -#   %li
        -#     %a{href: "#"} サブカテゴリ

.top
  .top__one
    = image_tag "bg/shu2.jpg",width: "300",height:"300", class:"hon"
  .top__two
    .top__three
      働く人を
      %br
      　テクノロジーの力で
      %br
      　　　元気に！！
    .top__fore
      SHUTA TANAKA
    .top__five
      =link_to puro_index_path do
        プロフィール
.image
  %span.image1
  %span.image2
  %span.image3
.contents
  .contents__main
    .contents__main--one
      .youtube-container
        #player1{class:"icon"}
        .youtube-container
          %iframe#player{frameborder: "0", height:"365", src: "https://www.youtube.com/embed/_iyWi5wnwCg", type: "text/html", width: "100%",class:"icon1"}
          %span
            エンジニアを目指すきっかけとなった動画
    .contents__main--two
      .contents__main--three
        ●会社のせいにしてはいけない、、
        %br
        　自分が作る側になろうと思うきっかけの動画
        %br
        　会社が変わるのを待つのではなく
        %br
        　自分の力で変えていく、、
      .contents__main--three
        ●スキルアップをしたかった、、
        %br
        　エンジニアスクールに通うきかっけの動画
        %br
        　同じ仕事を続けるよりも
        %br
        　新しいことに挑戦したかった
        %br
        　エンジニアはやりたいことと一致した！
.text
  .text__main
    .text__main--one
      ようこそ！
    .text__main--two
      こちらのサイトでは作品のポートフォリオの掲載
      %br
      簡単な自己紹介を掲載しております
      %br
      TECH::CAMPで学んだ技術を使って自分の事を世の中に発信していければと感じております
    .text__main--one
      エンジニアは世界を変えられる。
    .text__main--two
      エンジニアを目指すきっかけは、そう思ったのが始まり
      %br
      %br
      前職のドラッグストアーで働いている時に、楽しそうに働いている人が減ってきていると体感しました
      %br
      人手不足が加速する中で伝票が手書き処理、発注が自動化されないなどアナログな作業は減らない
      %br
      専門知識を持っているのに接客する時間がなく活かせていない
      %br
      などの問題をテクノロジーでアナログ作業を簡略化できれば
      %br
      もっと自分の能力を使った働き方が出来て、お客様にも喜んでもらえる仕事ができる！
      %br
      さらには、小売業だけでなく、サービス業で働く人のような接客業だけでなく
      %br
      %br
      全ての働く人が働きやすい世界を開発で作れる！
      %br
      %br
      自分が作れる人になるため日々勉強中

-# .sabu
  .sabu__box
    .sabu__box--text
      
      .sabu__box--left
        .sabuone
          名前（姓、名）<span>　＊必須</span>
        .sabuone
          メールアドレス<span>　＊必須</span>
        .sabuone
          サイトを知ったキッカケ
        .sabuone
          気になった記事があれば教えて下さい
        .sabuone
          登録
      .sabu__box--right
        = form_with(model: @lp, local: true) do |f|
          .sabutwo
            = f.text_field :name,placeholder: '記入例、　田中太郎'
          .sabutwo
            = f.email_field :email,placeholder: '記入例　tanaka@.com',size:24
          .sabutwo
            = f.text_area :comment,placeholder: '40文字まで',size:"30x4"
          .sabutwo
            = f.text_area :text,placeholder: '200文字まで',size:"30x4"
          .sabuthree
            = f.submit '送信', class: 'submit--btn'
    .sabu__box--two
      メルマガ登録



.contents__footer
  .contents__footer--box
    = link_to anchor: "topic" do
      トップへ戻る
    = link_to "https://www.facebook.com/profile.php?id=100033674423897", target:"_blank",class: "contents__footer--btntwo" do
      = icon('fab', 'facebook-square',  class: "contents__footer--box--two--icon")
      %span Facebook
    .contents__footer--box--three
    <a href="https://twitter.com/D_noheya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @D_noheya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    = link_to "https://twitter.com/D_noheya", target:"_blank",class: "contents__footer--box--four" do
      = icon('fab', 'twitter', class: "contents__footer--box--four--icon")
      %span Twitter
    = link_to "https://www.instagram.com/",target:"_blank", class: "contents__footer--box--five" do
      = icon('fab', 'instagram', class: "contents__footer--box--five--icon")
      %span Instagram
    = link_to new_lp_path,class: "contents__footer--box--five" do
      %span メルマガ登録お願い致します
    = link_to "#",class: "contents__footer--box--six" do
      %span メルマガバックナンバー
  .contents__footer--name
    個人アプリ制作〜 制作（たなか　しゅうた
    = link_to "https://kamogashira.com/", target:"_blank" do
      )
